@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: hsl(217, 19%, 35%);
  width: 100vw;
  height: 100dvh;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  box-shadow: 10px 10px 50px 10px hsl(212, 23%, 69%);
}
@media (min-width: 55rem) {
  .card {
    width: 730px;
    flex-direction: row;
  }
}
.card .image {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url("./images/drawers.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 55rem) {
  .card .image {
    border-radius: 0.5rem 0 0 0.5rem;
    aspect-ratio: 1/1;
    flex: 0 0 40%;
  }
}
.card article {
  padding: 2rem;
  padding-bottom: 1rem;
}
.card article .lead {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.card article p {
  font-size: 15px;
}
.card footer {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  position: relative;
}
.card footer .avatar {
  background-image: url("./images/avatar-michelle.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.card footer .date {
  font-weight: 500;
}
.card footer .openShareBar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(217, 19%, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 2rem;
  display: none;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 2;
}
@media (min-width: 55rem) {
  .card footer .openShareBar {
    border-radius: 0.5rem;
    width: 250px;
    height: 55px;
    top: -80%;
    left: 58%;
  }
}
.card footer .openShareBar h5 {
  color: hsl(214, 17%, 51%);
  font-weight: 700;
  letter-spacing: 5px;
}
.card footer .openShareBar svg {
  transition: scale 0.2s linear;
  color: hsl(210, 46%, 95%);
}
.card footer .openShareBar svg:hover {
  scale: 1.1;
}
.card footer .openShareBar .square {
  display: none;
  position: absolute;
  bottom: -65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  aspect-ratio: 1/1;
  border: 12px solid transparent;
  border-top: 12px solid hsl(217, 19%, 35%);
  z-index: 1;
}
@media (min-width: 55rem) {
  .card footer .openShareBar .square {
    display: block;
  }
}
.card footer button {
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  margin-left: auto;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
.card footer button:hover {
  background-color: hsl(214, 17%, 51%);
  color: hsl(210, 46%, 95%);
}
.card footer button.active {
  background-color: hsl(214, 17%, 51%);
  color: hsl(210, 46%, 95%);
}
.card footer button.active:hover {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
}/*# sourceMappingURL=style.css.map */